version: '3.8'

services:
  buidl-now:
    container_name: buidl-now
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3002:3000"
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "2m"
        max-file: "3"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
